<h2><%= @animal["first_name"]  %> <%= @animal["last_name"] %></h2>

<p>Species: <%= @animal["species"] %></p>
<p>Description: <%= @animal["description"] %></p>
<p>Roundness: <%= @animal["roundness"] %>/10</p>
<p>Alive: <%= @animal["alive"] == 1 ? "Yes" : "No" %></p>
<p>Age: <%= @animal["age"] %></p>

<img src="<%= @animal["image_url"] %>">

<br>
<a href="/animals/<%= @animal["id"]%>/edit">Edit</a>

<a href="/animals/<%= @animal["id"]%>/delete">Delete</a>

<a href="/animals">Back to Index</a>
