<div class="flex-container">
  <div id="item1">
    1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt sapien, in fringilla augue. Cras turpis massa, volutpat quis viverra nec, interdum vitae nunc. Vivamus at erat ac sapien consectetur venenatis in eu felis. Quisque varius cursus dui elementum aliquam. Donec sit amet varius nunc. Nulla molestie, nisl nec volutpat fermentum, nisi dui aliquam quam, in mollis dui nunc eget lorem. Ut gravida mattis sem, a euismod justo accumsan eu. Integer congue odio in velit porttitor, ut eleifend dui lacinia. Donec eget nunc id augue feugiat convallis. Nunc et neque id metus dapibus hendrerit in eget dui. Sed nec diam dolor.


  </div>

  <div id="item2">
    2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt sapien, in fringilla augue. Cras turpis massa, volutpat quis viverra nec, interdum vitae nunc. Vivamus at erat ac sapien consectetur venenatis in eu felis. Quisque varius cursus dui elementum aliquam. Donec sit amet varius nunc. Nulla molestie, nisl nec volutpat fermentum, nisi dui aliquam quam, in mollis dui nunc eget lorem. Ut gravida mattis sem, a euismod justo accumsan eu. Integer congue odio in velit porttitor, ut eleifend dui lacinia. Donec eget nunc id augue feugiat convallis. Nunc et neque id metus dapibus hendrerit in eget dui. Sed nec diam dolor.


  </div>

  <div id="item3">
    3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt sapien, in fringilla augue. Cras turpis massa, volutpat quis viverra nec, interdum vitae nunc. Vivamus at erat ac sapien consectetur venenatis in eu felis. Quisque varius cursus dui elementum aliquam. Donec sit amet varius nunc. Nulla molestie, nisl nec volutpat fermentum, nisi dui aliquam quam, in mollis dui nunc eget lorem. Ut gravida mattis sem, a euismod justo accumsan eu. Integer congue odio in velit porttitor, ut eleifend dui lacinia. Donec eget nunc id augue feugiat convallis. Nunc et neque id metus dapibus hendrerit in eget dui. Sed nec diam dolor.


  </div>

  <div id="item4">
    4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt sapien, in fringilla augue. Cras turpis massa, volutpat quis viverra nec, interdum vitae nunc. Vivamus at erat ac sapien consectetur venenatis in eu felis. Quisque varius cursus dui elementum aliquam. Donec sit amet varius nunc. Nulla molestie, nisl nec volutpat fermentum, nisi dui aliquam quam, in mollis dui nunc eget lorem. Ut gravida mattis sem, a euismod justo accumsan eu. Integer congue odio in velit porttitor, ut eleifend dui lacinia. Donec eget nunc id augue feugiat convallis. Nunc et neque id metus dapibus hendrerit in eget dui. Sed nec diam dolor.


  </div>
</div>


<div class="row">
  <div class="column">
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
  </div>

  <div class="column">
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
    <%= image_tag 'http://fillmurray.com/300/400' %>
  </div>
</div>
