<div class="grid-container">
  <!-- <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
  <div class="item6">6</div>
  <div class="item7">7</div>
  <div class="item8">8</div>
  <div class="item9">9</div>
  <div class="item10">10</div> -->

  <div class="header">1</div>
  <div class="menu">2</div>
  <div class="main">3</div>
  <div class="article">4</div>
  <div class="footer">5</div>
  

</div>


<div class="responsive-grid-container">
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
  <%= image_tag 'http://fillmurray.com/300/400' %>
</div>
