<!DOCTYPE html>
<html>
  <head>
    <title>StocksMovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if @cl_debug %> <!--check if it is not nil-->
    <script>
    <% @cl_debug.each do |val| %>
      console.warn(<%= val.html_safe %>);
      <% end %>
    </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
