
<h2> <%= @artist.name %></h2>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p> Songs</p>

<ul>
  <% @artist.songs.each do |song| %>
  <li>
    <%= link_to song.title, song_path(song)  %>
  </li>
  <% end %>
</ul>

<% if @artist.image.present? %>
<%= image_tag @artist.image, alt: @artist.name, class: 'artistPic' %>
<% end %>


<br>
<%= link_to 'Edit', edit_artist_path%>
<%= link_to 'Delete', artist_path( @artist ), method: 'delete' %>
