<%= form_for @work do |f| %>
<fieldset>
  <%= f.label :title %>
  <%= f.text_field :title %>
</fieldset>

<fieldset>
  <%= f.label :year %>
  <%= f.text_field :year %>
</fieldset>

<fieldset>
  <%= f.label :medium %>
  <%= f.text_field :medium %>
</fieldset>

<fieldset>
  <%= f.label :style %>
  <%= f.text_field :style %>
</fieldset>

<fieldset>
  <%= f.label :image %>
  <%= f.text_field :image %>
</fieldset>

<fieldset>
  <%= f.label :artist_id, 'Artist' %>
  <%= f.select :artist_id, Artist.pluck(:name, :id), include_blank: true %>
</fieldset>



  <!-- <%= f.label :artist_id, 'Artist ID' %>
  <%= f.text_field :artist_id %> -->
  <!-- <select name="work[:artist_id]">
    <option value="">Please select:</option>
    <%= Artist.all.each do |a| %>
    <option value="<%= a.id %>"><%= a.name %></option>
    <% end %>
</select> -->


<%= f.submit %>

<% end %>
